#root {
  max-width: 1280px;
  width: 80%;
  margin: 0;
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
  padding-bottom: 24px;
  height: 98vh;
}

body{
  background-color: #ffff;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 24px 10px 10px 10px;
}

.header-text{
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.auth-container{
  display: flex;
  gap: 20px;
}

.project-box {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  padding: 10px;
}

@media (min-width: 992px) {
  /* Large screens (≥ 992px) */
  .project-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Medium screens (≥ 768px and < 992px) */
  .project-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  /* Small screens (< 768px) */
  .project-box {
    grid-template-columns: 1fr;
  }
}